# Misson to Mars

* **NASA Mars News**

* **JPL Mars Space Images**

* **Mars Facts**

* **Mars Hemispheres**

In [1]:
# Dependencies and Setup
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import time
import pymongo

In [2]:
# Choose the executable path to driver
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

[WDM] - Current google-chrome version is 86.0.4240
[WDM] - Get LATEST driver version for 86.0.4240

[WDM] - Driver [C:\Users\phoog\.wdm\drivers\chromedriver\win32\86.0.4240.22\chromedriver.exe] found in cache

## NASA Mars News

In [3]:
# Visit Nasa news url through splinter module
################################################      Wait until page is fully loaded !!!!!!!!!!!!!!!!!!!!
# maybe fix with a time delay?????
url_news = "https://mars.nasa.gov/news/"
browser.visit(url_news)

In [8]:
# HTML Object
html_news = browser.html
soup = bs(html_news, "html.parser")

# Scrape the latest News Title and Paragraph Text
news_title_cor = soup.find_all("div", class_ = "content_title")[1].text
news_paragraph = soup.find("div", class_ = "article_teaser_body").text

# Display scrapped news 
print(news_title_cor)
print("-----------------------------------------")
print(news_paragraph)

MOXIE Could Help Future Rockets Launch Off Mars
-----------------------------------------
NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.

## JPL Mars Space Images - Featured Image

In [42]:
#     featured_image_url
pic_url = "https://www.jpl.nasa.gov/"

In [43]:
# Visit Nasa news url through splinter module
################################################      Wait until page is fully loaded !!!!!!!!!!!!!!!!!!!!
url_pic = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_pic)

# HTML Object
html_pic = browser.html
pic_soup = bs(html_pic, "html.parser")

In [45]:
# this is the feature picture on the "mars page" which rotates. It may  have nothing to do with Mars. Target was 
# described in the instructions

target_image = pic_soup.find("article")["style"]
target_image

"background-image: url('/spaceimages/images/wallpaper/PIA22893-1920x1200.jpg');"

In [46]:
# clean up the text
target_image = target_image.replace("background-image: url('/", "")
print(target_image)

spaceimages/images/wallpaper/PIA22893-1920x1200.jpg');

In [47]:
# clean up the text
target_image = target_image.replace("');", "")
print(target_image)

spaceimages/images/wallpaper/PIA22893-1920x1200.jpg

In [48]:
# final target 
featured_image_url = pic_url + target_image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA22893-1920x1200.jpg

## Mars Facts

In [29]:
# Get data from Mars Facts web page as described in the insturcitons
url = "https://space-facts.com/mars/"

In [31]:
# get a table
table = pd.read_html(url)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [36]:
# create a dataframe
mars_df = tables[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [38]:
# convert to ta HTML
mars_table = mars_df.to_html()

In [41]:
mars_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [ ]:
 browser.quit()